<link rel="stylesheet" href="/css/event-list.css" type="text/css">
<link rel="stylesheet" href="/css/event-card.css" type="text/css">

<%- include("../../partials/navbar") %>

<div class="events-container">
    <div class="container-head">
        <div class="title">
            <h1>Nos événements</h1>
        </div>
    </div>
    <div class="event-list">
        <% events.forEach(event => { %>
        <div class="event-card">
            <div class="image">
                <img src="<%= event.image %>" alt="Image de l'évènement">
            </div>

            <div class="data">
                <div class="title">
                    <p><%= event.title %></p>
                </div>
                <div class="date">
                    <p><%= event.eventDate %></p>
                </div>
                <div class="location">
                    <p><%= event.location %></p>
                </div>
                <div class="price">
                    <p><%= event.price %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>


