<link rel="stylesheet" href="/css/event-list.css" type="text/css">
<link rel="stylesheet" href="/css/event-card.css" type="text/css">

<%- include("../../partials/navbar") %>

<a href="/admin/events/new">Créer un évenements</a>

<div class="events-container">
    <% events.forEach( event => { %>

        <div class="event-card">
            <h2><%= event.title %></h2>
            <p>Prix : <%= event.price %></p>
            <p class="date"> <%= event.eventDate %></p>
            <p class="location">Lieu : <%= event.location %></p>
            <p>Description de l'événement : <%= event.description %></p>
            <img src="<%= event.image %>" alt="Image evenement">
        </div>

    <% }) %>
</div>
